:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin: 0 0 0 5px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin: 0 10px 0 0;
}

header nav a:hover {
    color: #FFF;
}

.filme-principal {
    font-size: 16px;
    background-image: url(../img/comics.jfif);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin: 10px 0 40px 0;
}

.titulo {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 15% 0 0 0;
}

.botao {
    background: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px;
    margin: 0 15px 0 0;
    cursor: pointer;
    transition: ease all .3s;
}

.botao:hover {
    background: white;
    color: black;
}